a
  color inherit
.vm-fr
  float right !important

.vm-fl
  float left !important

.vm-clearfix
  &:after
    display block
    content ""
    height 0
    line-height 0
    clear both
    visibility hidden

.vm-border
  border 1px solid #e9eaec

.vm-textCenter
  text-align center

.vm-textLeft
  text-align left

.vm-textRight
  text-align right
