/**
 *  author zhangwenlong
 *  email zhangwenlong@ccw163.com
 */
@import "./base.styl"
.layout
  .layout-header
    position absolute
    top 0
    left 0
    right 0
    height 60px
    line-height 60px
    background #495060
    .layout-logo
      color #fff
      text-align center
      font-size 18px
    .user-info
      text-align center
      font-size 14px
      .ivu-select-dropdown
        top 45px !important l
      a
        color #fff
  .layout-content
    position: absolute
    top: 60px
    left 0
    right 0
    bottom 0
    .layout-hide-text
      .layout-text
        display none
      .ivu-menu
        text-align center
        & > li > i, & > li > div > i:first-child
          margin-right 0
        & > li > div > i:last-child
          right 4px
    .ivu-col
      transition width .2s ease-in-out
    .sidebar
      background #363e4f
      .close-menu
        padding: 14px 24px
        width auto
        text-align center
        color #fff
        cursor pointer
        background #495060

#custom, #data, #home, #seller, #users, #distribution, #activity, #order
  height 100%

#login
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  background #eee
  position absolute
  left 0
  top 0
  bottom 0
  right 0
  .card-box
    padding 20px
    width 400px
    border-radius 5px
    box-shadow 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02)
    background-color #F9FAFC
    .formLogin-title
      text-align center
    .login-no-bottom
      margin-bottom 10px

.ivu-menu
  .ivu-menu-item > a
    display block
